// Nav bar
.navbar.navbar-fixed-top {
	max-height: 50px;
	margin-bottom: 0px;
	border-bottom: 0px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

	.garageadmin-homelogo {
		height: 50px;
		display: block;
		padding: 12px 16px;
		background-color: #b21616;
	}


	.nav.navbar-nav {

		> li > a {
			min-height: 50px;
			max-height: 50px;
		}

		li {
			.toggle-sidebar {
				padding: 18px 15px;
			}
		}


		li.filter-marker {

			a.img-icon {
				padding: 10px;
			}

			.bottom-line {
				width: 100%;
				bottom: 0px;
				margin: 0px;
				height: 2px;
				padding: 0px;
				display: none;
				position: absolute;
				background-color: $base_white;
			}

			&.active {

				a.img-icon {
					background-color: $fourth-color;
				}

				.bottom-line {
					display: block;
				}
			}
		}
	}
}

.navbar-default {
	background: $third-color;

	.nav.navbar-nav {
		li {
			&:hover {
				> a {
					color: $base_white;
					background-color: #464952;
				}
			}
			&.active  {
				> a {
					color: $base_white;
					background-color: $fourth-color;
				}
			}
		}

		.chat-tab,
		.announce-tab {
			> a {
				color: #FFF;
				background-color: #009688;

				.fa {
					font-size: 16px;
				}
			}
			&:hover {
				> a {
					color: #FFF;
					background-color: #0A6F66;
				}
			}
		}
		.refresh-tab {
			> a {
				color: #009688;
				font-size: 20px;
			}
		}
		.sound-notification-tab {
			> a {
				max-height: 50px;
				padding: 15px 8px;
				.icon {
					margin-right: 6px;
				}
				.icon,
				.js-switch-wrap {
					color: #FFF;
					float: left;
				}
			}
		}
	}
	
	.navbar-right {
		.callcenter-tab,
		.monitoring-tab {
			a {
				max-height: 60px;
				padding: 7px 20px;
				span {
					margin-right: 10px;
				}
				img {
					height: 36px;
				}
				.counter-wrapper {
					left: 6px;
					bottom: -10px;
					position: absolute;
				}
				.counter {
					width: 25px;
					color: #FFF;
					height: 25px;
					margin-right: 0;
					font-size: 10px;
					border-radius: 50%;
					text-align: center;
					display: inline-block;
					border: 2px solid #FFF;
					box-shadow: 1px 1px 2px #ccc;
					&.off {
						background-color: #777;
					}
					&.on {
						background-color: #4CAF50;
					}
					&.busy {
						background-color: #FFC107;
					}
					&.pick {
						background-color: #2196F3;
					}
					&.broken {
						background-color: #F44336;
					}
				}
			}
		}
		.report-tab,
		.user-profile-tab {
			&.open {
				> a {
					background-color: #464952;
					&:focus, &:hover {
						color: $base_white;
						background-color: #464952;
					}
				}

				> .dropdown-menu {
					border: none;
					background-color: #464952;
					>li>a {
						color: $base_white;
					}
					>li>a:focus, 
					>li>a:hover {
						background-color: #343642;
					}
				}
			}
			&:hover {
				background-color: $fifth-color!important;
			}
		}
		.report-tab {
			a > i.fa {
				color: #FFF;
				font-size: 20px;
			}
			.dropdown-toggle {
				padding: 15px 20px;
			}
		}
		.user-profile-tab {
			.dropdown-toggle {
				padding: 2px 15px;
			}

			> a > img {
				max-width: 45px;
				max-height: 45px;
			}

			.dropdown-menu {
				padding: 0;
				min-width: 300px;

				.img-garage {
					float: left;
					max-height: 100px;
				}

				.profile {
					float: left;
					color: #FFF;
					padding: 10px 12px;
					padding-bottom: 0;

					.title {
						color: #999;
						font-size: 0.9em;
					}


					.name {
						margin-bottom: 0;
					}
					.email {
						margin-bottom: 0;
					}
					.position {
						color: #FFC107;
						font-size: 0.9em;
						margin-bottom: 0;
					}
				}

				.divider {
					margin: 0px;
				}

				.control {
					padding: 6px;
					> a {
						width: 48%;
						margin: 0px;
						padding: 6px 12px;
						text-align: center;
						border-radius: 3px;
						display: inline-block;

						&:first-child {
							background: #2196F3;
						}
					}
				}
			}
		}
	}
}