{{ include head-psg-login }}
	<div class="garageadmin-login">
	<form action="/login" method="post">		
		<div class="garageadmin-loginwrapper">
			<img class="garageadmin-loginlogo" src="/assets/img/cm1.png">
			<div class="garageadmin-errormessage">
				อีเมล/รหัสผ่านไม่ถูกต้อง
				<img src="/assets/img/icn_fail.png">
			</div>

			<div class="garageadmin-groupform">
				<label>ชื่อผู้ใช้</label>
				<input type="text" name="username" placeholder="username">
			</div>
			<div class="garageadmin-groupform">
				<label>รหัสผ่าน</label>
				<input type="password" name="password" class="garageadmin-password" placeholder="••••••••">
				<img class="garageadmin-showhidepassword" src="/assets/img/btn_show.png">
			</div>
			<input type="submit" class="garageadmin-btn-primary" value="เข้าสู่ระบบ">
		
    			    <div class="alert alert-danger"></div>
    		
			<a href="/psgsignup" class="garageadmin-warning">Signup</a></p>			
			<a href="" class="garageadmin-warning">ลืมรหัสผ่าน?</a>
		</div>
	</form>
	</div>

{{ include foot-psg-login }}
	