<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/css/style.css" />
	<link rel="stylesheet" type="text/css" href="/css/font/style.css" />
	<link rel="stylesheet" type="text/css" href="/css/responsive.css" />
	<link rel="stylesheet" type="text/css" href="/css/jquery.bxslider.css" />
	<link rel="stylesheet" type="text/css" href="/css/iconfont/style.css" />

	<!--[if lte IE 8]>
	    <link rel="stylesheet" href="css/ie8.css">
	<![endif]-->
	<script type="text/javascript" src="/libs/js/jquery-1.9.1.min.js"></script>
	<!--<script type="text/javascript" src="js/slider.js"></script>-->
	<script type="text/javascript" src="/libs/js/jquery.bxslider.js"></script>
	<script src="/libs/js/modernizr.custom.js"></script>
	<script src="/libs/js/PIE.js"></script>
	

	
</head>

<body id="body" data-scroll="0">
	<div class="taxibeam-header">
		<div class="taxibeam-wrapper">
			<a href="index.html" class="taxibeam-logo"><img src="/img/taxibeam-logo.png" srcset="/img/taxibeam-logo-dt@2x.png 2x"></a>
			<div class="taxibeam-menu">
				<ul>
					<li class="category active"><a href="#head"></a></li>
					<li class="category"><a href="index.html#about">ทำความรู้จัก TAXI-BEAM</a></li>
					<li class="category"><a href="index.html#why">ทำไมต้องใช้ TAXI-BEAM</a></li>
					<li class="category"><a href="index.html#how">วิธีใช้ TAXI-BEAM</a></li>
					<li class="category taxibeam-language"><a href="#">English</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="taxibeam-header-mb">
		<div class="taxibeam-wrapper">
			<a href="index.html" class="taxibeam-logo-mb"><img src="/img/taxibeam-logo-mb.png" srcset="/img/2x/taxibeam-logo-mb@2x.png 2x"></a>
		</div>
	</div>

	<div class="taxibeam-icomenu-mb">
		<span></span>
		<span></span>
		<span></span>
		<span></span>
	</div>
	<div class="taxibeam-menu-mb">
		<ul>
			<li class="category"><a href="index.html#about">ทำความรู้จัก TAXI-BEAM</a></li>
			<li class="category"><a href="index.html#why">ทำไมต้องใช้ TAXI-BEAM</a></li>
			<li class="category"><a href="index.html#how">วิธีใช้ TAXI-BEAM</a></li>
			<li class="category"><a href="/question">ถาม-ตอบ</a></li>
			<li class="category"><a href="/contactus">ติดต่อเรา</a></li>
			<li class="category taxibeam-clone"></li>
			<li class="category taxibeam-language"><a href="#">English</a></li>
		</ul>
	</div>

	<div class="taxibeam-container taxibeam-on-mb">
		<div class="taxibeam-wrapper">
			<h2>ติดต่อเรา</h2>
			<div class="taxibeam-warning">กรุณากรอกข้อมูลในช่องที่มีเครื่องหมาย (*) ให้ครบถ้วน</div>

			<div class="taxibeam-popup-contact-inputform">
				<input type="text" placeholder="ชื่อ - นามสกุล">
				<i class="icon-star"></i>
			</div>
			<div class="taxibeam-popup-contact-inputform">
				<input type="text" placeholder="อีเมล">
				<i class="icon-star"></i>
			</div>
			<div class="taxibeam-popup-contact-inputform">
				<input type="text" placeholder="เบอร์โทรศัพท์">
				<i class="icon-star"></i>
			</div>
			<div class="taxibeam-popup-contact-inputform">
				<textarea placeholder="รายละเอียด ข้อแนะนำ และคำติชม"></textarea>
				<i class="icon-star"></i>
			</div>
			<div class="taxibeam-popup-contact-submitform">
				<input type="submit" value="ส่งข้อมูล">
			</div>
		</div>
	</div>
</body>

</script>
<script type="text/javascript" src="/libs/js/function.js"></script>
</html>