<!DOCTYPE html>
<html lang="en">



<head>  
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">  
  <title>TaxiBeam Authentication</title>
  <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap.css">  
  <link rel="stylesheet" href="/libs/datatable/jquery.dataTables.css" />
  <link rel="stylesheet" href="/libs/datatable/dataTables.bootstrap.css" />  
  <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
  <link rel="stylesheet" type="text/css" href="/assets/css/style-dropdown.css" />
  <link rel="stylesheet" type="text/css" href="/assets/css/responsive.css" />
  <link rel="stylesheet" type="text/css" href="/assets/css/admin.css" />
  
    <script type="text/javascript" src="/libs/jquery-1.11.2.min.js"></script>
  <script type="text/javascript" src="/libs/underscore-min.js"></script>
  <script type="text/javascript" src="/libs/bootstrap/js/bootstrap.min.js"></script>
  <script src="/libs/datatable/jquery.dataTables.min.js"></script>
  <script src="/libs/datatable/dataTables.bootstrap.min.js"></script>
  <script type="text/javascript" src="/libs/jquery.inputmask/dist/min/inputmask/inputmask.min.js"></script>
  <script type="text/javascript" src="/libs/jquery.inputmask/dist/min/inputmask/jquery.inputmask.min.js"></script>
  <script type="text/javascript" src="/libs/jquery.inputmask/dist/min/inputmask/inputmask.numeric.extensions.min.js"></script>
  <script type="text/javascript" src="/assets/libs/js/function.js"></script>
  <script type="text/javascript" src="/assets/libs/js/jquery.dropdown.js"></script>
  <script src="/assets/libs/js/modernizr.custom.js"></script>
  
</head>
<body>        

        <div class="garageadmin-header">
            <img src="/assets/img/home_logo.png">
<!--            <div class="garageadmin-search">
                <label><img src="/assets/img/icn_search.png"></label>
                <input type="text" placeholder="ค้นหา...">
            </div>
 -->
            <ul class="garageadmin-user">
                <li><img src="/assets/img/icn_person.png"> <p>{{= user.username }}</p> <img class="garageadmin-arrow" src="/assets/img/btn_arrowdown_b.png">
                    <ul class="garageadmin-userhidden">
                      {{ menu.forEach(function(menu) { }}
                          <li> <img src="/assets/img/icn_logout.png"> <a href="{{= menu.url }}"><p>{{= menu.name }}</p></a></li>
                      {{  }); }}                                                
                    </ul>
                </li>
            </ul>
        </div>

