{{ include head-psg-login }}

	<div class="passenger-login">
		<div class="passenger-loginwrapper">
			<img src="/assets/img/login/logolite.png" srcset="/assets/img/login/logolite@2x.png 2x">

			<a href="/auth/facebook" class="btn facebook"><i class="icon-icn_fb"></i>Login with Facebook</a>
			<a href="/auth/google" class="btn google"><i class="icon-icn_google"></i>Login with Google</a>

			<div class="groupbtn">
				<a href="/psglogin" class="btn login"><i class="icon-icn_login"></i>Login</a></p>
				<a href="/psgsignup" class="btn register"><i class="icon-icn_register"></i>Register</a></p>	
			</div>

			<a class="btn-terms">Terms</a>	
		</div>	

		<div class="terms-box">
			<div class="terms-head">
				<span>Close</span>
				Terms of Service
			</div>
			<div class="terms-content">
				<p class="terms-topic">บริการ</p>
				<p>Taxi-Beam เป็นแอปพลิเคชั่นที่พัฒนาขึ้นเพื่ออำนวยความสะดวกและลดปัญหาของการเรียกแท็กซี่  ดังนั้น ในการใช้บริการ ผู้ใช้งานแอปพลิเคชั่นยังคงต้องใช้ความระมัดระวังในการให้บริการ/ใช้บริการรถแท็กซี่ ทั้งนี้หากเกิดปัญหาหรือความล่าช้าในการให้บริการ/ใช้บริการ ความสูญหายหรือความเสียหายใด ๆ แก่ชีวิตหรือทรัพย์สิน ไม่ว่าจะเกิดขึ้นกับผู้ใช้งานแอปพลิเคชั่นเองหรือบุคคลที่สาม  ผู้จัดทำแอปพลิเคชั่นไม่มีส่วนรับผิดชอบทางกฎหมายในความสูญหายหรือความเสียหายใดที่เกิดขึ้นทั้งสิ้น</p>

				<p class="terms-topic">Service</p>
				<p>Taxi-Beam is the application to facilitate and help calling a taxi.   The application user must be careful in providing/using taxi service. If there is any problems, delay in service, losses to life or property either to the application user or any third party, the company is not responsible nor legally liable for such losses or damages.</p>
				
				<p class="terms-topic">การสมัครใช้บริการและข้อมูลที่ต้องใช้ในการสมัคร</p>
				<p>ก่อนใช้งาน Taxi-Beam ท่านจะต้องสมัครใช้บริการและสร้าง Account โดยให้ข้อมูล E-Mail, Password และเบอร์โทรศัพท์มือถือ ซึ่งข้อมูลดังกล่าว จะใช้ในการตรวจสอบ (verify) ความเป็นตัวตนในการเข้าใช้บริการเท่านั้นและจะโดนเก็บเป็นความลับสูงสุด  ส่วนเบอร์โทรศัพท์จะถูกแสดงให้เห็นระหว่างผู้โดยสารและคนขับแท็กซี่ที่ตกลงจะไปรับเท่านั้นเพื่อใช้ในการสอบถามจุดไปรับผู้โดยสารเพิ่มเติมหากต้องการ</p>
				
				<p class="terms-topic">Registration and Required Information</p>
				<p>Prior to using Taxi-Beam service, you have to register and create your account by providing e-mail address, password and mobile phone number. Those information are needed for verification purpose and will not be disclosed to any third party.  Mobile phone number will be displayed to taxi driver once the taxi driver accepts the job to communicate with you for the pickup location.</p>
				
				<p class="terms-topic">ค่าธรรมเนียมในการใช้บริการ</p>
				<p>ผู้โดยสารจะต้องชำระค่าบริการ 20 บาทเพิ่มเติมจากค่าโดยสารที่เกิดขึ้นจริงตามมิเตอร์ให้กับคนขับรถแท็กซี่โดยตรง</p>

				<p class="terms-topic">Service Fee</p>
				<p>Passenger is required to pay a service fee of 20 baht on top of the meter fare directly to taxi driver.</p>
			</div>
		</div>
	</div>

{{ include foot-psg-login }}
	