{{ include head-psg-login }}

	<div class="passenger-login">
	<form action="/psglogin" method="post">		
		<div class="garageadmin-loginwrapper">
			<img class="garageadmin-loginlogo" src="/assets/img/cm1.png">

			<div class="garageadmin-groupform">
				<label>You can reset your password by email</label>				
				<input type="email" class="form-control" name="email" placeholder="อีเมล์" autocomplete="off">
			</div>
			<input type="submit" class="garageadmin-btn-primary" value="Forget Password">
		
    			    <div class="alert alert-danger"> <a href="/"><  back </a></div>
		</div>
	</form>
	</div>

{{ include foot-psg-login }}
	