{{ include head-psg-login }}
	<!--div class="passenger-login">
		<a class="btn-back" href="/"><i class="icon-ic_backcopy"></i>Back</a>
		<form action="/psglogin" method="post" class="loginform">		
			<div class="passenger-loginwrapper">
				<img src="/assets/img/login/logolite.png" srcset="/assets/img/login/logolite@2x.png 2x">
				<input type="text" name="email" class="username" placeholder="Username">
				<input type="password" name="password" class="password" placeholder="Password">
				<button type="submit" class="btn loginbtn" value="เข้าสู่ระบบ">Login</button>
				<a class="btn-forgotpassword">ลืมรหัสผ่าน</a>
			</div>
		</form>
	</div-->
	<div class="passenger-login">
	<a class="btn-back" href="/"><i class="icon-ic_backcopy"></i>Back</a>
	<form action="/psglogin" method="post" class="loginform">		
		<div class="passenger-loginwrapper">
			<img src="/assets/img/login/logolite.png" srcset="/assets/img/login/logolite@2x.png 2x">
			<!-- show any messages that come back with authentication -->
			{{ if (message.length > 0) { }}
			<div class="alert alert-danger">{{= message }}</div>
			{{ } }}
			<input type="text" name="email" class="email login" placeholder="Email">
			<input type="password" name="password" class="password login" placeholder="Password">
			<div class="clear"></div>
			<button type="submit" class="btn loginbtn" value="เข้าสู่ระบบ">Login</button>

		</div>
	</form>
	</div>	
{{ include foot-psg-login }}
	


