{{ include head-psg-login }}



	<div class="passenger-login">
		<a class="btn-back" href="/"><i class="icon-ic_backcopy"></i>Back</a>

		<form id="signUpForm"  action="/psgsignup" method="POST" class="registform">
			<div class="passenger-loginwrapper">
				<img src="/assets/img/login/logolite.png" srcset="/assets/img/login/logolite@2x.png 2x">
				
				<!-- show any messages that come back with authentication -->
				{{ if (message.length > 0) { }}
				<div class="alert alert-danger">{{= message }}</div>
				{{ } }}

				<input type="text" id="displayName" name="displayName" class="username" placeholder="Name" autocomplete="off">
				<input type="email" id="email" name="email" class="email" placeholder="Email" autocomplete="off">
				<input type="password" id="password" name="password" class="password" placeholder="Password" autocomplete="off">
				<input type="password" id="password_again" name="password_again" class="password" placeholder="Confirm Password" autocomplete="off">
				<input type="phone" id="phone" name="phone" class="phone" placeholder="Phone Number" autocomplete="off" maxlength="10">

				<div class="gender">
					<input type="radio" name="gender" id="male" value="M"><label class="label male" for="male">Male</label> 
					<input type="radio" name="gender" id="female" value="F"><label class="label female" for="female">Female</label> 
				</div>

				<!--<input type="checkbox" id="agreement-chk" name="agreement-chk"><span class="checkbox-material"><span class="check"></span></span>&nbsp;&nbsp;I accept the 
				<a href="#" data-toggle="modal" data-target="#agreementModal">user agreement</a>-->

				<a href="#/" class="btn register" onclick="SignUpForm.submit();">Register</a>



			</div>
		</form>

	</div>

		<script src="assets/libs/jquery/dist/jquery.min.js"></script>
		<script src="assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="/assets/plugins/jquery-validation/dist/jquery.validate.min.js"></script>
		<script type="text/javascript">

			var SignUpForm = {
				initial: function() {
					this.onSubmit();
				},
				submit: function() {
					$("#signUpForm").submit();
				},
				onSubmit: function() {
					$("#signUpForm").validate({
						rules: {
							username: { required: true, minlength: 4 },
							password: { required: true, minlength: 4 },
							password_again: { equalTo: "#password" },
							email: { required: true , email: true }
							
						}
					});
				}
			};

			$(function() {				
				SignUpForm.initial();
			});
		</script>


{{ include foot-psg-login }}
