<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/css/web/style.css" />
	<link rel="stylesheet" type="text/css" href="/css/font/webstyle.css" />
	<link rel="stylesheet" type="text/css" href="/css/responsive.css" />
	<link rel="stylesheet" type="text/css" href="/css/jquery.bxslider.css" />
	<link rel="stylesheet" type="text/css" href="/css/iconfontweb/webstyle.css" />

	<!--[if lte IE 8]>
	    <link rel="stylesheet" href="css/ie8.css">
	<![endif]-->
	<script type="text/javascript" src="/libs/js/jquery-1.9.1.min.js"></script>
	<!--<script type="text/javascript" src="js/slider.js"></script>-->
	<script type="text/javascript" src="/libs/js/jquery.bxslider.js"></script>
	<script src="/libs/js/modernizr.custom.js"></script>
	<script src="/libs/js/PIE.js"></script>
	

	
</head>

<body id="body">
	<div class="taxibeam-header">
		<div class="taxibeam-wrapper">
			<a href="index.html" class="taxibeam-logo"><img src="/img/taxibeam-logo.png" srcset="img/taxibeam-logo-dt@2x.png 2x"></a>
			<div class="taxibeam-menu">
				<ul>
					<li class="category active"><a href="index.html#head"></a></li>
					<li class="category"><a href="index.html#about">ทำความรู้จัก TAXI-BEAM</a></li>
					<li class="category"><a href="index.html#why">ทำไมต้องใช้ TAXI-BEAM</a></li>
					<li class="category"><a href="index.html#how">วิธีใช้ TAXI-BEAM</a></li>
					<li class="category taxibeam-language"><a href="#">English</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="taxibeam-header-mb">
		<div class="taxibeam-wrapper">
			<a href="index.html" class="taxibeam-logo-mb"><img src="/img/taxibeam-logo-mb.png" srcset="img/2x/taxibeam-logo-mb@2x.png 2x"></a>
		</div>
	</div>

	<div class="taxibeam-icomenu-mb">
		<span></span>
		<span></span>
		<span></span>
		<span></span>
	</div>
	<div class="taxibeam-menu-mb">
		<ul>
			<li class="category"><a href="index.html#about">ทำความรู้จัก TAXI-BEAM</a></li>
			<li class="category"><a href="index.html#why">ทำไมต้องใช้ TAXI-BEAM</a></li>
			<li class="category"><a href="index.html#how">วิธีใช้ TAXI-BEAM</a></li>
			<li class="category"><a href="/question">ถาม-ตอบ</a></li>
			<li class="category"><a href="/contactus">ติดต่อเรา</a></li>
			<li class="category taxibeam-clone"></li>
			<li class="category taxibeam-language"><a href="#">English</a></li>
		</ul>
	</div>

	<a href="#gototop" class="taxibeam-gototop"><i class="icon-gototop"></i></a>

	<div class="taxibeam-container taxibeam-on-mb">
		<div class="taxibeam-wrapper">
			<h2>คำถาม-คำตอบ</h2>
			<div class="taxibeam-question-tabs">
				<div class="taxibeam-question-tabs-left active">ผู้โดยสาร</div>
				<div class="taxibeam-question-tabs-right">คนขับแท็กซี่</div>
			</div>
			<div class="taxibeam-question-content-left active">
				<ul class="taxibeam-ask">
					<li>
						<p>1. ผู้โดยสารจะเริ่มใช้ App TAXI-BEAM ได้อย่างไร</p>
						<i class="icon-arrowD"></i>
						<ul class="taxibeam-answer">
							ผู้โดยสารจะต้อง download App TAXI-BEAM ก่อน โดยสามารถ download App ได้ฟรี ดังนี้<br>
							iOS : <a class="taxibeam-question-link" href="https://play.google.com/Example">https://play.google.com/Example</a><br>      
							Android: <a class="taxibeam-question-link" href="https://play.google.com/Example">https://play.google.com/Example</a><br>
							หลังจาก download App แล้ว จะต้องลงทะเบียนการใช้งาน โดยใส่ข้อมูล E-mail และเบอร์โทรศัพท์มือถือที่ถูกต้องเพื่อให้คนขับแท็กซี่สามารถติดต่อคุณได้ ถ้าต้องการสอบถามเส้นทางเพิ่มเติม
						</ul>
					</li>
					<li>
						<p>2. การเรียกรถแท็กซี่ด้วย App TAXI-BEAM มีขั้นตอนอะไรบ้าง</p>
						<i class="icon-arrowD"></i>
						<ul class="taxibeam-answer">
							1. เลือกประเภทรถแท็กซี่<br>
							2. ใส่จุดหมายปลายทาง และรายละเอียดอื่นๆ เช่น ทิปพิเศษ (ถ้ามี)<br>
							3. เรียกแท็กซี่ โดยกดปุ่ม "Get Me a Taxi"<br>
							4. รอแท็กซี่ตอบรับ<br>
							5. เมื่อมีแท็กซี่ตอบรับ ให้กด "Accept" เพื่อตกลงให้คนขับรถแท็กซี่มารับ<br>
							6. รอแท็กซี่มารับ ซึ่งระหว่างนี้ คนขับแท็กซี่อาจโทรมาสอบถามตำแหน่งที่ให้ไปรับ<br>
							7. เมื่อเดินทางถึงที่หมาย กดปุ่ม "End trip"
						</ul>
					</li>
					<li>
						<p>3. มีค่าใช้จ่ายเพิ่มเติมในการใช้บริการ App TAXI-BEAM หรือไม่</p>
						<i class="icon-arrowD"></i>
						<ul class="taxibeam-answer">
							บริการ App TAXI-BEAM เป็นบริการฟรี คุณจึงไม่ต้องกังวัลกับค่าใช้จ่ายเพิ่มเติมจากการใช้ App นี้ โดยค่าใช้จ่ายที่เกิดขึ้นจะเป็นค่าบริการแท็กซี่ที่เรียกเก็บตามจริง							
						</ul>
					</li>
					<li>
						<p>4. App TAXI-BEAM แตกต่างจาก App เรียกรถแท็กซี่อื่นๆอย่างไร</p>
						<i class="icon-arrowD"></i>
						<ul class="taxibeam-answer">
							TAXI-BEAM เป็นแอพพลิเคชั่นสำหรับเรียกรถแท็กซี่ ผ่าน smart phone ซึ่งใน Phase แรกนี้ TAXI-BEAM มีจุดเด่นแตกต่างจาก App เรียกแท็กซี่อื่นๆ ตรงที่ผู้โดยสารสามารถเลือกแท็กซี่คันที่เคยใช้บริการมาก่อนได้ในโหมดของ Favorite โดยระบบจะให้ผู้โดยสารสามารถบันทึกแท๊กซี่คันที่ชอบเอาไว้สำหรับเรียกใช้บริการได้ในอนาคต							
						</ul>
					</li>
					<li>
						<p>5. รถแท็กซี่ที่ให้บริการ TAXI-BEAM มีกี่ประเภท</p>
						<i class="icon-arrowD"></i>
						<ul class="taxibeam-answer">
							รถแท็กซี่ที่คุณสามารถเลือกได้มี 2 ประเภท คือ รถเก๋ง และรถมินิแวน	
						</ul>
					</li>
					<li>
						<p>6. หลังจากเรียกรถแท็กซี่ด้วย TAXI-BEAM แล้ว ใช้เวลานานเท่าไหร่รถแท็กซี่จึงมารับ</p>
						<i class="icon-arrowD"></i>
						<ul class="taxibeam-answer">
							หลังจากที่เรียกรถแท็กซี่ได้แล้ว ระยะเวลาที่รถแท็กซี่มารับผู้โดยสารนั้นจะไม่แน่นอนขึ้นอยู่กับสภาพจราจรและตำแหน่งที่รถแท็กซี่อยู่ณ.ขณะนั้น ทั้งนี้ ผู้โดยสารสามารถโทรหาคนขับเพื่อสอบถามเวลาที่มารับได้จากเบอร์โทรศัพท์ของแท็กซี่ที่โชว์ในระบบ						
						</ul>
					</li>
					<li>
						<p>7. App TAXI-BEAM จะช่วยลดปัญหาแท็กซี่ปฏิเสธผู้โดยสารได้อย่างไร</p>
						<i class="icon-arrowD"></i>
						<ul class="taxibeam-answer">
							เนื่องจาก TAXI-BEAM จะช่วยให้คนขับแท็กซี่ทราบจุดหมายปลายทางของผู้โดยสารทุกคนในระบบ ดังนั้น แท็กซี่ที่ตอบรับผู้โดยสารจึงเป็นแท็กซี่ที่สามารถไปส่งผู้โดยสารได้ ซึ่งจะช่วยลดปัญหาการปฎิเสธผู้โดยสาร หรือในวันที่คุณมีนัดด่วน ต้องเดินทางไปยังสถานที่ที่รถติด หรือฝนตกหนัก คุณสามารถใส่ Tip พิเศษให้กับคนขับแท็กซี่ เพื่อลดการปฎิเสธจากคนขับ โดยที่คุณสามารถใส่ Tip ได้ตามความสมัครใจ							
						</ul>
					</li>
					<li>
						<p>8. การเรียกแท็กซี่ด้วย TAXI-BEAM จะมีโอกาสเจอปัญหาไม่มีรถแท็กซี่หรือไม่</p>
						<i class="icon-arrowD"></i>
						<ul class="taxibeam-answer">
							ผู้โดยสารอาจเจอปัญหาไม่มีรถแท็กซี่มารับได้ ในกรณีที่ไม่มีรถแท็กซี่อยู่ในบริเวณนั้น เนื่องจากปกติระบบจะแสดงจุดตำแหน่งผู้โดยสารที่รอรถแท็กซี่ให้คนขับเห็นภายในรัศมี 3 กิโลเมตร ซึ่งถ้าตำแหน่งของคุณอยู่ในระยะที่เกิน 3 กม. ระบบจะไม่สามารถ match คุณกับรถแท็กซี่ TAXI-BEAM ได้	
						</ul>
					</li>
					<li>
						<p>9. ผู้โดยสารสามารถแชร์รายละเอียดรถแท็กซี่ที่นั่งอยู่ให้คนรู้จักได้หรือ</p>
						<i class="icon-arrowD"></i>
						<ul class="taxibeam-answer">
							คุณสามารถแชร์รายละเอียดรถแท็กซี่ที่นั่งอยู่ให้เพื่อนสนิท ครอบครัวหรือคนรู้จักได้ทราบเพื่อความอุ่นใจในการเดินทาง โดยสามารถแชร์ข้อมูลผ่านทาง Line, Facebook และอีเมล์	
						</ul>
					</li>
					<li>
						<p>10. TAXI-BEAM มีการให้บริการผ่านทาง Call Center หรือไม่</p>
						<i class="icon-arrowD"></i>
						<ul class="taxibeam-answer">
							App TAXI-BEAM ได้ถูกออกแบบให้เป็นเครื่องมือที่ช่วยให้ผู้โดยสารสามารถติดต่อจองรถแท็กซี่กับทางคนขับรถได้โดยตรง TAXI-BEAM จึงไม่มีการให้บริการผ่านทาง Call Center ทั้งนี้ ถ้าคุณต้องการแนะนำ หรือติชมในบริการ สามารถติดต่อเราผ่าน App ในเมนู Contact Us ได้
						</ul>
					</li>
				</ul>	
			</div>
			<div class="taxibeam-question-content-right">
				<ul class="taxibeam-ask">
					<li>
						<p>1. TAXI-BEAM (แท็กซี่บีม) ใช้งานได้บนโทรศัพท์มือถือแบบใด</p>
						<i class="icon-arrowD"></i>
						<ul class="taxibeam-answer">
							แอพพลิเคชั่น TAXI-BEAM (แท็กซี่บีม) จะใช้งานได้เฉพาะกับโทรศัพท์มือถือสมาร์ทโฟนซึ่งเป็นโทรศัพท์ที่สามารถเชื่อมต่อกับแอพพลิเคชั่นต่างๆ เช่น Line, Facebook โดยสามารถใช้งานได้ทั้งบนระบบปฎิบัติการ
						</ul>
					</li>
					<li>
						<p>2. คนขับรถแท็กซี่ต้องทำอย่างไร จึงจะใช้บริการแอพพลิเคชั่น TAXI-BEAM (แท็กซี่บีม) ได้</p>
						<i class="icon-arrowD"></i>
						<ul class="taxibeam-answer">
							คุณสามารถใช้บริการแอพพลิเคชั่น TAXI-BEAM (แท็กซี่บีม) ในส่วนของคนขับรถแท็กซี่ได้ด้วยขั้นตอนง่ายๆ เริ่มจากดาวน์โหลดแอพพลิเคชั่น 	โดยไม่มีค่าใช้จ่าย ดังนี้<br>
							iOS : <a class="taxibeam-question-link" href="https://play.google.com/Example">https://play.google.com/Example</a><br>      
							Android: <a class="taxibeam-question-link" href="https://play.google.com/Example">https://play.google.com/Example</a><br>
							หลังจากดาวน์โหลดแอพพลิเคชั่นแล้ว ให้ลงทะเบียนการใช้งาน โดยใส่ข้อมูลของคุณและข้อมูลรถแท็กซี่ตามที่กำหนดให้ถูกต้อง 			หลังจากนั้นก็สามารถเริ่มใช้งานได้ทันที							
						</ul>
					</li>
					<li>
						<p>3. แอพพลิเคชั่น TAXI-BEAM (แท็กซี่บีม) ใช้งานยากหรือไม่ และผู้ใช้จำเป็นต้องมีความชำนาญในการเล่นแอพพลิเคชั่นบนสมาร์ทโฟนหรือไม่</p>
						<i class="icon-arrowD"></i>
						<ul class="taxibeam-answer">
							แอพพลิเคชั่น TAXI-BEAM (แท็กซี่บีม) ใช้งานง่าย ไม่ยุ่งยาก และผู้ใช้ไม่จำเป็นต้องมีความเชี่ยวชาญในการใช้แอพพลิเคชั่นทางมือถือมาก่อน หากลองใช้งานแล้วไม่เข้าใจ หรือต้องการสอบถามข้อมูลเพิ่มเติม สามารถติดต่อได้ที่ xx-xxx-xxxx							
						</ul>
					</li>
					<li>
						<p>4. มีค่าใช้จ่ายเพิ่มเติมในการใช้บริการแอพพลิเคชั่น TAXI-BEAM (แท็กซี่บีม) หรือไม่</p>
						<i class="icon-arrowD"></i>
						<ul class="taxibeam-answer">
							บริการ App TAXI-BEAM เป็นบริการฟรี คุณจึงไม่ต้องกังวัลกับค่าใช้จ่ายเพิ่มเติมจากการใช้ App นี้				
						</ul>
					</li>
					<li>
						<p>5. TAXI-BEAM (แท็กซี่บีม) แตกต่างจากแอพพลิเคชั่นเรียกรถแท็กซี่อื่นๆอย่างไร</p>
						<i class="icon-arrowD"></i>
						<ul class="taxibeam-answer">
							แอพพลิเคชั่น TAXI-BEAM (แท็กซี่บีม) ได้ถูกพัฒนาขึ้นมาเพื่อช่วยคนขับรถแท็กซี่ให้สามารถมองเห็นว่ามีผู้โดยสารที่กำลังรอแท็กซี่อยู่ตรงไหนบ้าง และมีจุดหมายปลายทางอยู่ที่ใด โดยระบบจะแสดงตำแหน่งของผู้โดยสารทั้งหมดที่อยู่ในบริเวณรัศมี 3 กม จากคนขับ นอกจากนั้น คนขับสามารถเลื่อนแผนที่ไปบริเวณต่างๆที่ต้องการเพื่อดูผู้โดยสารที่รอแท็กซี่อยู่ จึงทำให้ไม่ต้องเสียเวลาขับรถสุ่มหาผู้โดยสาร
						</ul>
					</li>
					<li>
						<p>6. TAXI-BEAM (แท็กซี่บีม) แสดงเนื้อหาด้วยภาษาอะไร</p>
						<i class="icon-arrowD"></i>
						<ul class="taxibeam-answer">
							เพื่อให้สะดวกในการใช้งาน TAXI-BEAM (แท็กซี่บีม) จะแสดงเนื้อหาด้วยภาษาไทยทั้งหมด				
						</ul>
					</li>
					<li>
						<p>7. ถ้าต้องการสอบถามเพิ่มเติมเกี่ยวกับการใช้บริการ สามารถสอบถามได้ที่ใด</p>
						<i class="icon-arrowD"></i>
						<ul class="taxibeam-answer">
							หากลองใช้งานแล้วไม่เข้าใจ หรือต้องการสอบถามข้อมูลเพิ่มเติม สามารถติดต่อได้ที่ xx-xxx-xxxx				
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
</body>

</script>
<script type="text/javascript" src="/libs/js/functionweb.js"></script>
</html>