<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/css/web/style.css" />
	<link rel="stylesheet" type="text/css" href="/css/font/webstyle.css" />
	<link rel="stylesheet" type="text/css" href="/css/responsive.css" />
	<link rel="stylesheet" type="text/css" href="/css/jquery.bxslider.css" />
	<link rel="stylesheet" type="text/css" href="/css/iconfontweb/webstyle.css" />

	<!--[if lte IE 8]>
	    <link rel="stylesheet" href="css/ie8.css">
	<![endif]-->
	<script type="text/javascript" src="/libs/js/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="/libs/js/slider.js"></script>
	<script type="text/javascript" src="/libs/js/jquery.bxslider.js"></script>
	<script src="/libs/js/modernizr.custom.js"></script>
	

	
</head>

<body id="body" data-scroll="0">
	<div class="taxibeam-header">
		<div class="taxibeam-wrapper">
			<a href="index.html" class="taxibeam-logo"><img src="img/taxibeam-logo.png" srcset="img/taxibeam-logo-dt@2x.png 2x"></a>
			<div class="taxibeam-menu">
				<ul>
					<li class="category active"><a href="#head"></a></li>
					<li class="category about"><a href="#about">ทำความรู้จัก TAXI-BEAM</a></li>
					<li class="category why"><a href="#why">ทำไมต้องใช้ TAXI-BEAM</a></li>
					<li class="category how"><a href="#how">วิธีใช้ TAXI-BEAM</a></li>
					<li class="category taxibeam-language"><a href="#">English</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="taxibeam-header-mb">
		<div class="taxibeam-wrapper">
			<a href="index.html" class="taxibeam-logo-mb"><img src="img/taxibeam-logo-mb.png" srcset="img/2x/taxibeam-logo-mb@2x.png 2x"></a>
		</div>
	</div>

	<div class="taxibeam-icomenu-mb">
		<span></span>
		<span></span>
		<span></span>
		<span></span>
	</div>
	<div class="taxibeam-menu-mb">
		<ul>
			<li class="category taxibeam-links-in"><a href="index.html#about">ทำความรู้จัก TAXI-BEAM</a></li>
			<li class="category taxibeam-links-in"><a href="index.html#why">ทำไมต้องใช้ TAXI-BEAM</a></li>
			<li class="category taxibeam-links-in"><a href="index.html#how">วิธีใช้ TAXI-BEAM</a></li>
			<li class="category taxibeam-links"><a href="question.html">ถาม-ตอบ</a></li>
			<li class="category taxibeam-links"><a href="contactus.html">ติดต่อเรา</a></li>
			<li class="category taxibeam-clone"></li>
			<li class="category taxibeam-language"><a href="#">English</a></li>
		</ul>
	</div>

	<a href="#gototop" class="taxibeam-gototop"><i class="icon-gototop"></i></a>

	<div class="taxibeam-container">

		<div id="head" class="taxibeam-head taxibeam-content">
			<div class="taxibeam-wrapper">
				<img src="img/taxibeam-head-mobile.png" class="taxibeam-head-mobile">
				<div class="taxibeam-head-content">
					<h1>TAXI-BEAM</h1>
					<h2>แอพพลิเคชั่นสำหรับเรียกรถแท็กซี่ <br>ผ่าน Smart phone</h2>
					<p>ให้ผู้โดยสารสามารถเรียกรถแท็กซี่ได้ง่าย รวดเร็ว และไม่มีค่าใช้จ่ายเพิ่มเติม</p>
					<h3>รองรับทั้งระบบปฎิบัติการ</h3>
					<div class="taxibeam-head-group-btn">
						<a class="taxibeam-head-btn-appstore" href="https://play.google.com/Example"><img src="img/taxibeam-btn-appstore.png"  srcset="img/2x/taxibeam-btn-appstore@2x.png 2x"></a>
						<a class="taxibeam-head-btn-googleplay" href="https://play.google.com/store/apps/details?id=com.ecartstudio.taxi.driver"><img src="img/taxibeam-btn-googleplay.png"  srcset="img/2x/taxibeam-btn-googleplay@2x.png 2x"></a>
					</div>
				</div>
				<img src="img/taxibeam-car.png" class="taxibeam-car">

			</div>
			<img src="img/test.png" class="taxibeam-building">
			<img src="img/taxibeam-cloud.png">
		</div>
		<div id="about" class="taxibeam-about taxibeam-content">
			<div class="taxibeam-wrapper">
				<img src="img/taxibeam-about-mobile.png" class="taxibeam-about-mobile">
				<div class="taxibeam-about-content">
					<h2>ทำความรู้จัก TAXI-BEAM</h2>
					<h3>แอพพลิเคชั่นสำหรับเรียกรถแท็กซี่ <br>ผ่าน Smart phone</h3>
					<p>ซึ่งรองรับทั้งระบบปฎิบัติการ Android และ iOS โดยระบบได้ถูกพัฒนาขึ้น<br>
					เพื่อช่วยแก้ปัญหาการใช้บริการแท็กซี่ทั้งในด้านของผู้โดยสารและคนขับรถแท็กซี่<br> 
					รวมทั้งช่วยอำนวยความสะดวกให้ผู้โดยสารสามารถเรียกรถแท็กซี่ได้ง่าย รวดเร็ว<br>
					และไม่มีค่าใช้จ่ายเพิ่มเติม จึงคาดว่าระบบ TAXI-BEAM น่าจะเป็นประโยชน์ต่อสังคม<br>
					และช่วยอำนวยความสะดวกให้กับประชาชนทั้งในกรุงเทพฯและต่างจังหวัดได้เป็นอย่างดี
					</p>
					<!--<div class="taxibeam-about-group-btn">
						<a class="taxibeam-about-btn taxibeam-btn-user">ผู้ใช้งานหลักของระบบ TAXI-BEAM</a>
						<a class="taxibeam-about-btn taxibeam-btn-problem">ปัญหาของการให้บริการแท็กซี่ในปัจจุบัน</a>
					</div>-->
				</div>
			</div>			
		</div>
		<div class="taxibeam-user taxibeam-content">
			<div class="taxibeam-wrapper">
				<h2>ผู้ใช้งานหลักของระบบ TAXI-BEAM</h2>
				<a href=""></a>
				<div class="taxibeam-user-left">
					<img src="img/taxibeam-popup-user-psg.png">
					<h3>1. ผู้โดยสาร</h3>
					<p>ซึ่งจะใช้ App TAXI-BEAM เมื่อต้องการเรียกรถแท็กซี่</p>
				</div>
				<div class="taxibeam-user-right">
					<img src="img/taxibeam-popup-user-taxi.png">
					<h3>2. คนขับรถแท็กซี่</h3>
					<p>ซึ่งจะใช้ App TAXI-BEAM เพื่อดูว่ามีผู้โดยสารรอรถแท็กซี่ อยู่ที่ใดบ้าง และรับงานเมื่อผู้โดยสารเรียกรถแท็กซี่ผ่าน App</p>
				</div>
			</div>			
		</div>

		<div id="why" class="taxibeam-why taxibeam-content">
			<div class="taxibeam-wrapper">
				<h2>ทำไมต้องใช้ TAXI-BEAM</h2>
				<div class="taxibeam-why-tabs">
					<div class="taxibeam-why-tabs-left active">ผู้โดยสาร</div>
					<div class="taxibeam-why-tabs-right">คนขับแท็กซี่</div>
				</div>
				<div class="taxibeam-why-content-left active">
					<div class="slider-why-psg taxibeam-why-slide">
						<!--<div class="slide">
							<img src="img/taxibeam-why-psg-slide1.jpg">
							<p>ได้รับความสะดวกจากการเรียกแท็กซี่ผ่าน App TAXI-BEAM บนสมาร์ทโฟน Android และ iOS</p>
						</div>-->
						<div class="slide">
							<img src="img/taxibeam-why-psg-slide2.jpg">
							<p>เรียกรถแท็กซี่ได้สะดวกขึ้น</p>
						</div>
						<div class="slide">
							<img src="img/taxibeam-why-psg-slide3.jpg">
							<p>ผู้โดยสารสามารถเลือกประเภทรถแท็กซี่ได้ตามความต้องการ</p>
						</div>
						<div class="slide">
							<img src="img/taxibeam-why-psg-slide4.jpg">
							<p>หมดปัญหากับการหารถแท็กซี่ไม่ได้เนื่องจากอยู่ในซอยลึกหรืออยู่แถวชานเมือง</p>
						</div>
						<div class="slide">
							<img src="img/taxibeam-why-psg-slide5.jpg">
							<p>ไม่ต้องอธิบายเส้นทางที่จะให้แท็กซี่มารับ</p>
						</div>
						<div class="slide">
							<img src="img/taxibeam-why-psg-slide6.jpg">
							<p>สามารถใส่ Tips พิเศษเพื่อหลีกเลี่ยงการปฏิเสธจากคนขับแท็กซี่</p>
						</div>
						<div class="slide">
							<img src="img/taxibeam-why-psg-slide7.jpg">
							<p>รู้สึกอุ่นใจในความปลอดภัยเนื่องจากสามารถเลือกแท็กซี่คันที่เคยใช้บริการมาก่อน (My Favorite)</p>
						</div>
						<div class="slide">
							<img src="img/taxibeam-why-psg-slide8.jpg">
							<p>รู้ข้อมูลคนขับและรถแท็กซี่ที่จะมารับล่วงหน้า</p>
						</div>
						<div class="slide">
							<img src="img/taxibeam-why-psg-slide9.jpg">
							<p>สามารถแชร์เส้นทางและข้อมูลของแท็กซี่ที่ใช้บริการให้แก่เพื่อน ญาติ และคนใกล้ชิดได้</p>
						</div>
						<div class="slide">
							<img src="img/taxibeam-why-psg-slide10.jpg">
							<p>ไม่ต้องเสียค่าบริการเพิ่มเติม</p>
						</div>
					</div>
				</div>
				<div class="taxibeam-why-content-right">
					<div class="slider-why-taxi taxibeam-why-slide">
						<div class="slide">
							<img src="img/taxibeam-why-taxi-slide1.jpg">
							<p>มีโอกาสได้รับผู้โดยสารและมีรายได้เพิ่มมากขึ้น เนื่องจากไม่ต้องเสียเวลาขับรถสุ่มหาผู้โดยสาร</p>
						</div>
						<div class="slide">
							<img src="img/taxibeam-why-taxi-slide2.jpg">
							<p>เห็นตำแหน่งของผู้โดยสารทั้งหมดที่รอแท็กซี่อยู่ พร้อมปลายทางที่ต้องการไป</p>
						</div>
						<!--<div class="slide">
							<img src="img/taxibeam-why-psg-slide.jpg">
							<p>มีโอกาสได้รับผู้โดยสารและมีรายได้เพิ่มมากขึ้น เนื่องจากทราบตำแหน่งของผู้โดยสารที่รอแท็กซี่อยู่</p>
						</div>-->
						<div class="slide">
							<img src="img/taxibeam-why-taxi-slide3.jpg">
							<p>สามารถดูข้อมูลสภาพจราจรได้ตลอดเวลา</p>
						</div>
					</div>
				</div>
			</div>
			<!--<img src="img/taxibeam-why-woman.png" class="taxibeam-why-woman">
			<img src="img/taxibeam-why-man.png" class="taxibeam-why-man">-->
		</div>

		<div id="how" class="taxibeam-how taxibeam-content">
			<div class="taxibeam-wrapper">
				<h2>วิธีการใช้งาน TAXI-BEAM</h2>
				<div class="taxibeam-how-tabs">
					<div class="taxibeam-how-tabs-left active">ดาวน์โหลดและติดตั้ง</div>
					<div class="taxibeam-how-tabs-right">ขั้นตอนการใช้งาน</div>
				</div>
				<div class="taxibeam-how-content-left active" id="how">
					<div class="slider-how-install taxibeam-how-slide">
						<div class="slide">
							<div class="taxibeam-slide-img"><img src="img/taxibeam-download-step1.png"></div>
							<p><span>ขั้นตอนที่ 1</span> <br>เข้า Play Store สำหรับ Android <br>หรือ App Store สำหรับ iOS</p>
						</div>
						<div class="slide">
							<div class="taxibeam-slide-img"><img src="img/taxibeam-download-step2.png"></div>
							<p><span>ขั้นตอนที่ 2</span> <br>พิมพ์ "Taxi-Beam" ในช่องค้นหา <br>แล้วทำการดาวน์โหลด</p>
						</div>
						<div class="slide">
							<div class="taxibeam-slide-img"><img src="img/taxibeam-download-step3.png"></div>
							<p><span>ขั้นตอนที่ 3</span> <br>ดาวน์โหลดเสร็จเรียบร้อยพร้อมใช้งาน</p>
						</div>
					</div>
				</div>
				<div class="taxibeam-how-content-right">
					<div class="slider-how-howto taxibeam-how-slide">
						<div class="slide">
							<div class="taxibeam-slide-img"><img src="img/taxibeam-howto-step1.png"></div>
							<p><span>ขั้นตอนที่ 1</span> <br>ผู้โดยสารจะต้องลงทะเบียนก่อนเริ่มใช้งาน <br>โดยกรอกข้อมูล e-mail และเบอร์โทรศัพท์มือถือ <br>หลังจากนั้น กดปุ่ม Register</p>
						</div>
						<div class="slide">
							<div class="taxibeam-slide-img"><img src="img/taxibeam-howto-step2.png"></div>
							<p><span>ขั้นตอนที่ 2</span> <br>เลือกประเภทรถแท็กซี่ (Car/ Mini Van) และ  <br>Favorite Taxi (กรณีที่ได้เคยบันทึกข้อมูลไว้) <br>หลังจากนั้น ใส่ข้อมูลปลายทาง (To)</p>
						</div>
						<div class="slide">
							<div class="taxibeam-slide-img"><img src="img/taxibeam-howto-step3.png"></div>
							<p><span>ขั้นตอนที่ 3</span> <br>ใส่ข้อมูลเพิ่มเติมอื่นๆ เช่น ทิป (ถ้ามี) <br>หลังจากนั้นกดปุ่ม "Get me a taxi"</p>
						</div>
						<div class="slide">
							<div class="taxibeam-slide-img"><img src="img/taxibeam-howto-step4.png"></div>
							<p><span>ขั้นตอนที่ 4</span> <br>ระบบจะเรียกรถแท็กซี่ให้ โดยจะมีข้อความ <br>ขึ้นว่า "Calling Taxi" ซึ่งคุณสามารถยกเลิก <br>การเรียกแท็กซี่ได้ โดยกดปุ่ม "Cancel"<br>เมื่อเรียกแท็กซี่ได้สำเร็จ จะขึ้น ข้อความว่า <br>"Got a taxi by Taxi-Beam"</p>
						</div>
						<div class="slide">
							<div class="taxibeam-slide-img"><img src="img/taxibeam-howto-step5.png"></div>
							<p><span>ขั้นตอนที่ 5</span> <br>หลังจากเรียกแท็กซี่ได้แล้ว ระบบจะแสดงรายละเอียด<br>ของคนขับและเบอร์ติดต่อมาให้ ถ้าตกลงให้มารับ <br>ให้กดที่ปุ่ม Accept</p>
						</div>
						<div class="slide">
							<div class="taxibeam-slide-img"><img src="img/taxibeam-howto-step6.png"></div>
							<p><span>ขั้นตอนที่ 6</span> <br>รอรถแท็กซี่ให้มารับ โดยเมื่อรถแท็กซี่ส่งคุณ<br>ถึงปลายทางแล้ว ให้กดปุ่ม "End Trip" <br>เพื่อจบการเดินทาง</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="taxibeam-footer">
			© 2015 TAXI-BEAM.  All right reserved.
		</div>
		<div class="taxibeam-about-floatbox">
			<a href="question.html" target="_blank">
				<div class="taxibeam-about-floatbutton taxibeam-btn-question">
					<i class="icon-qa"></i>
					<p>ถาม-ตอบ</p>
				</div>
			</a>
			<a href="contactus.html" target="_blank">
				<div class="taxibeam-about-floatbutton taxibeam-btn-contact">
					<i class="icon-contact"></i>
					<p>ติดต่อเรา</p>
				</div>
			</a>
		</div>

		<!--<div class="taxibeam-overlay"></div>
		
		<div class="taxibeam-popup-user">
			<h2>ผู้ใช้งานหลักของระบบ TAXI-BEAM</h2>
			<a href=""></a>
			<div class="taxibeam-popup-user-left">
				<img src="img/taxibeam-popup-user-psg.png">
				<h3>1. ผู้โดยสาร</h3>
				<p>ซึ่งจะใช้ App TAXI-BEAM เมื่อต้องการเรียกรถแท็กซี่</p>
			</div>
			<div class="taxibeam-popup-user-right">
				<img src="img/taxibeam-popup-user-taxi.png">
				<h3>2. คนขับรถแท็กซี่</h3>
				<p>ซึ่งจะใช้ App TAXI-BEAM เพื่อดูว่ามีผู้โดยสารรอรถแท็กซี่ อยู่ที่ใดบ้าง และรับงานเมื่อผู้โดยสารเรียกรถแท็กซี่ผ่าน App</p>
			</div>
		</div>
		<div class="taxibeam-popup-problem">
			<h2>ผู้ใช้งานหลักของระบบ TAXI-BEAM</h2>
			<a href=""></a>
			<div class="taxibeam-popup-problem-left">
				<img src="img/taxibeam-popup-problem-psg.png">
				<h3>ด้านผู้โดยสาร</h3>
				<ul>
					<li>แท็กซี่ปฏิเสธผู้โดยสาร</li>
					<li>ผู้โดยสารอยู่ในซอยลึกหารถแท็กซี่ไม่ได้ ทำให้ต้องออกมาเรียกรถที่ถนนใหญ่</li>
					<li>แถบชานเมืองหารถแท็กซี่ยากมาก</li>
					<li>แท็กซี่เลี้ยวไปทางอื่น ไม่ขับมายังจุดที่ผู้โดยสารรออยู่</li>
				</ul>
			</div>
			<div class="taxibeam-popup-problem-right">
				<img src="img/taxibeam-popup-problem-taxi.png">
				<h3>ด้านคนขับรถแท็กซี่</h3>
				<ul>
					<li>แท็กซี่ต้องขับรถแบบสุ่มหาผู้โดยสาร ทำให้สิ้นเปลืองแก๊สและเวลา</li>
					<li>หลายครั้งต้องเสียเวลานานจอดรถรอผู้โดยสารตามสถานที่ต่างๆ เช่น ห้างสรรพสินค้า</li>
					<li>อาจจะไม่คุ้มทุนถ้าต้องไปส่งผู้โดยสารในบริเวณที่รถติดมาก</li>
				</ul>
			</div>
		</div>
		<div class="taxibeam-popup-question">
			<h2>คำถาม-คำตอบ</h2>
			<i class="icon-close"></i>
			<div class="taxibeam-question-tabs">
				<div class="taxibeam-question-tabs-left active">ผู้โดยสาร</div>
				<div class="taxibeam-question-tabs-right">คนขับแท็กซี่</div>
			</div>
			<div class="taxibeam-question-content-left active">
				<p>
				<span>1. ผู้โดยสารจะเริ่มใช้ App TAXI-BEAM ได้อย่างไร</span><br>
				ผู้โดยสารจะต้อง download App TAXI-BEAM ก่อน โดยสามารถ download App ได้ฟรี ดังนี้<br>
				iOS : <a class="taxibeam-question-link" href="https://play.google.com/Example">https://play.google.com/Example</a><br>      
				Android: <a class="taxibeam-question-link" href="https://play.google.com/Example">https://play.google.com/Example</a><br>
				หลังจาก download App แล้ว จะต้องลงทะเบียนการใช้งาน โดยใส่ข้อมูล E-mail และเบอร์โทรศัพท์มือถือที่ถูกต้องเพื่อให้คนขับแท็กซี่สามารถติดต่อคุณได้ ถ้าต้องการสอบถามเส้นทางเพิ่มเติม
				</p>

				<p>
				<span>2. การเรียกรถแท็กซี่ด้วย App TAXI-BEAM มีขั้นตอนอะไรบ้าง</span><br> 
				1. เลือกประเภทรถแท็กซี่<br>
				2. ใส่จุดหมายปลายทาง และรายละเอียดอื่นๆ เช่น ทิปพิเศษ (ถ้ามี)<br>
				3. เรียกแท็กซี่ โดยกดปุ่ม "Get Me a Taxi"<br>
				4. รอแท็กซี่ตอบรับ<br>
				5. เมื่อมีแท็กซี่ตอบรับ ให้กด "Accept" เพื่อตกลงให้คนขับรถแท็กซี่มารับ<br>
				6. รอแท็กซี่มารับ ซึ่งระหว่างนี้ คนขับแท็กซี่อาจโทรมาสอบถามตำแหน่งที่ให้ไปรับ<br>
				7. เมื่อเดินทางถึงที่หมาย กดปุ่ม "End trip"
				</p>

				<p>
				<span>3. มีค่าใช้จ่ายเพิ่มเติมในการใช้บริการ App TAXI-BEAM หรือไม่</span><br> 
				บริการ App TAXI-BEAM เป็นบริการฟรี คุณจึงไม่ต้องกังวัลกับค่าใช้จ่ายเพิ่มเติมจากการใช้ App นี้ โดยค่าใช้จ่ายที่เกิดขึ้นจะเป็นค่าบริการแท็กซี่ที่เรียกเก็บตามจริง
				</p>

				<p>
				<span>4. App TAXI-BEAM แตกต่างจาก App เรียกรถแท็กซี่อื่นๆอย่างไร</span><br> 
				TAXI-BEAM เป็นแอพพลิเคชั่นสำหรับเรียกรถแท็กซี่ ผ่าน smart phone ซึ่งใน Phase แรกนี้ TAXI-BEAM มีจุดเด่นแตกต่างจาก App เรียกแท็กซี่อื่นๆ ตรงที่ผู้โดยสารสามารถเลือกแท็กซี่คันที่เคยใช้บริการมาก่อนได้ในโหมดของ Favorite โดยระบบจะให้ผู้โดยสารสามารถบันทึกแท๊กซี่คันที่ชอบเอาไว้สำหรับเรียกใช้บริการได้ในอนาคต
				</p>

				<p>
				<span>5. รถแท็กซี่ที่ให้บริการ TAXI-BEAM มีกี่ประเภท</span><br> 
				รถแท็กซี่ที่คุณสามารถเลือกได้มี 2 ประเภท คือ รถเก๋ง และรถมินิแวน
				</p>

				<p>
				<span>6. หลังจากเรียกรถแท็กซี่ด้วย TAXI-BEAM แล้ว ใช้เวลานานเท่าไหร่รถแท็กซี่จึงมารับ</span><br> 
				หลังจากที่เรียกรถแท็กซี่ได้แล้ว ระยะเวลาที่รถแท็กซี่มารับผู้โดยสารนั้นจะไม่แน่นอนขึ้นอยู่กับสภาพจราจรและตำแหน่งที่รถแท็กซี่อยู่ณ.ขณะนั้น ทั้งนี้ ผู้โดยสารสามารถโทรหาคนขับเพื่อสอบถามเวลาที่มารับได้จากเบอร์โทรศัพท์ของแท็กซี่ที่โชว์ในระบบ
				</p>

				<p>
				<span>7. App TAXI-BEAM จะช่วยลดปัญหาแท็กซี่ปฏิเสธผู้โดยสารได้อย่างไร</span><br> 
				เนื่องจาก TAXI-BEAM จะช่วยให้คนขับแท็กซี่ทราบจุดหมายปลายทางของผู้โดยสารทุกคนในระบบ ดังนั้น แท็กซี่ที่ตอบรับผู้โดยสารจึงเป็นแท็กซี่ที่สามารถไปส่งผู้โดยสารได้ ซึ่งจะช่วยลดปัญหาการปฎิเสธผู้โดยสาร หรือในวันที่คุณมีนัดด่วน ต้องเดินทางไปยังสถานที่ที่รถติด หรือฝนตกหนัก คุณสามารถใส่ Tip พิเศษให้กับคนขับแท็กซี่ เพื่อลดการปฎิเสธจากคนขับ โดยที่คุณสามารถใส่ Tip ได้ตามความสมัครใจ
				</p>

				<p>
				<span>8. การเรียกแท็กซี่ด้วย TAXI-BEAM จะมีโอกาสเจอปัญหาไม่มีรถแท็กซี่หรือไม่</span><br> 
				ผู้โดยสารอาจเจอปัญหาไม่มีรถแท็กซี่มารับได้ ในกรณีที่ไม่มีรถแท็กซี่อยู่ในบริเวณนั้น เนื่องจากปกติระบบจะแสดงจุดตำแหน่งผู้โดยสารที่รอรถแท็กซี่ให้คนขับเห็นภายในรัศมี 3 กิโลเมตร ซึ่งถ้าตำแหน่งของคุณอยู่ในระยะที่เกิน 3 กม. ระบบจะไม่สามารถ match คุณกับรถแท็กซี่ TAXI-BEAM ได้
				</p>

				<p>
				<span>9. ผู้โดยสารสามารถแชร์รายละเอียดรถแท็กซี่ที่นั่งอยู่ให้คนรู้จักได้หรือ</span><br> 
				คุณสามารถแชร์รายละเอียดรถแท็กซี่ที่นั่งอยู่ให้เพื่อนสนิท ครอบครัวหรือคนรู้จักได้ทราบเพื่อความอุ่นใจในการเดินทาง โดยสามารถแชร์ข้อมูลผ่านทาง Line, Facebook และอีเมล์
				</p>

				<p>
				<span>10. TAXI-BEAM มีการให้บริการผ่านทาง Call Center หรือไม่</span><br> 
				App TAXI-BEAM ได้ถูกออกแบบให้เป็นเครื่องมือที่ช่วยให้ผู้โดยสารสามารถติดต่อจองรถแท็กซี่กับทางคนขับรถได้โดยตรง TAXI-BEAM จึงไม่มีการให้บริการผ่านทาง Call Center ทั้งนี้ ถ้าคุณต้องการแนะนำ หรือติชมในบริการ สามารถติดต่อเราผ่าน App ในเมนู Contact Us ได้
				</p>
			</div>
			<div class="taxibeam-question-content-right">
				<p>
				<span>1. TAXI-BEAM (แท็กซี่บีม) ใช้งานได้บนโทรศัพท์มือถือแบบใด</span><br>
				แอพพลิเคชั่น TAXI-BEAM (แท็กซี่บีม) จะใช้งานได้เฉพาะกับโทรศัพท์มือถือสมาร์ทโฟนซึ่งเป็นโทรศัพท์ที่สามารถเชื่อมต่อกับแอพพลิเคชั่นต่างๆ เช่น Line, Facebook โดยสามารถใช้งานได้ทั้งบนระบบปฎิบัติการ
				</p>

				<p>
				<span>2. คนขับรถแท็กซี่ต้องทำอย่างไร จึงจะใช้บริการแอพพลิเคชั่น TAXI-BEAM (แท็กซี่บีม) ได้</span><br> 
				คุณสามารถใช้บริการแอพพลิเคชั่น TAXI-BEAM (แท็กซี่บีม) ในส่วนของคนขับรถแท็กซี่ได้ด้วยขั้นตอนง่ายๆ เริ่มจากดาวน์โหลดแอพพลิเคชั่น โดยไม่มีค่าใช้จ่าย ดังนี้<br>
				iOS : <a class="taxibeam-question-link" href="https://play.google.com/Example">https://play.google.com/Example</a><br>      
				Android: <a class="taxibeam-question-link" href="https://play.google.com/Example">https://play.google.com/Example</a><br>
				หลังจากดาวน์โหลดแอพพลิเคชั่นแล้ว ให้ลงทะเบียนการใช้งาน โดยใส่ข้อมูลของคุณและข้อมูลรถแท็กซี่ตามที่กำหนดให้ถูกต้อง หลังจากนั้นก็สามารถเริ่มใช้งานได้ทันที
				</p>

				<p>
				<span>3. แอพพลิเคชั่น TAXI-BEAM (แท็กซี่บีม) ใช้งานยากหรือไม่ และผู้ใช้จำเป็นต้องมีความชำนาญในการเล่นแอพพลิเคชั่นบนสมาร์ทโฟนหรือไม่</span><br> 
				แอพพลิเคชั่น TAXI-BEAM (แท็กซี่บีม) ใช้งานง่าย ไม่ยุ่งยาก และผู้ใช้ไม่จำเป็นต้องมีความเชี่ยวชาญในการใช้แอพพลิเคชั่นทางมือถือมาก่อน หากลองใช้งานแล้วไม่เข้าใจ หรือต้องการสอบถามข้อมูลเพิ่มเติม สามารถติดต่อได้ที่ xx-xxx-xxxx
				</p>

				<p>
				<span>4. มีค่าใช้จ่ายเพิ่มเติมในการใช้บริการแอพพลิเคชั่น TAXI-BEAM (แท็กซี่บีม) หรือไม่</span><br> 
				บริการ App TAXI-BEAM เป็นบริการฟรี คุณจึงไม่ต้องกังวัลกับค่าใช้จ่ายเพิ่มเติมจากการใช้ App นี้
				</p>

				<p>
				<span>5. TAXI-BEAM (แท็กซี่บีม) แตกต่างจากแอพพลิเคชั่นเรียกรถแท็กซี่อื่นๆอย่างไร</span><br> 
				แอพพลิเคชั่น TAXI-BEAM (แท็กซี่บีม) ได้ถูกพัฒนาขึ้นมาเพื่อช่วยคนขับรถแท็กซี่ให้สามารถมองเห็นว่ามีผู้โดยสารที่กำลังรอแท็กซี่อยู่ตรงไหนบ้าง และมีจุดหมายปลายทางอยู่ที่ใด โดยระบบจะแสดงตำแหน่งของผู้โดยสารทั้งหมดที่อยู่ในบริเวณรัศมี 3 กม จากคนขับ นอกจากนั้น คนขับสามารถเลื่อนแผนที่ไปบริเวณต่างๆที่ต้องการเพื่อดูผู้โดยสารที่รอแท็กซี่อยู่ จึงทำให้ไม่ต้องเสียเวลาขับรถสุ่มหาผู้โดยสาร
				</p>

				<p>
				<span>6. TAXI-BEAM (แท็กซี่บีม) แสดงเนื้อหาด้วยภาษาอะไร</span><br> 
				เพื่อให้สะดวกในการใช้งาน TAXI-BEAM (แท็กซี่บีม) จะแสดงเนื้อหาด้วยภาษาไทยทั้งหมด
				</p>

				<p>
				<span>7. ถ้าต้องการสอบถามเพิ่มเติมเกี่ยวกับการใช้บริการ สามารถสอบถามได้ที่ใด</span><br> 
				หากลองใช้งานแล้วไม่เข้าใจ หรือต้องการสอบถามข้อมูลเพิ่มเติม สามารถติดต่อได้ที่ xx-xxx-xxxx
				</p>

			</div>
		</div>
		<div class="taxibeam-popup-contact">
			<h2>ติดต่อเรา</h2>
			<i class="icon-close"></i>
			<div class="taxibeam-popup-contact-inputform">
				<input type="text" placeholder="ชื่อ - นามสกุล">
				
			</div>
			<div class="taxibeam-popup-contact-inputform">
				<input type="text" placeholder="อีเมล">
				
			</div>
			<div class="taxibeam-popup-contact-inputform">
				<input type="text" placeholder="เบอร์โทรศัพท์">
				
			</div>
			<div class="taxibeam-popup-contact-inputform">
				<textarea placeholder="รายละเอียด ข้อแนะนำ และคำติชม"></textarea>
				
			</div>
			<div class="taxibeam-popup-contact-submitform">
				<input type="submit" value="ส่งข้อมูล">
			</div>
		</div>-->
	</div>
</body>

<script type="text/javascript">

function getMobileOperatingSystem() {
	var userAgent = navigator.userAgent || navigator.vendor || window.opera;
	//alert(userAgent);
	if( userAgent.match( /iPad/i ) || userAgent.match( /iPhone/i ) || userAgent.match( /iPod/i ) ) 
	{
		return 'iOS';
		//alert('iOS')
	} 
	else if( userAgent.match( /Android/i ) )
	{
		return 'Android';
		//alert('Android')
		//window.location = "https://play.google.com/store/apps/details?id=com.ecartstudio.taxi.driver";
	}
	else
	{
		return 'unknown';
		//alert('unknown')
	}
}



$(document).ready(function(){

//getMobileOperatingSystem() ;

  $('.slider-why-psg').bxSliderNormal({
    slideWidth: 314,
    minSlides: 1,
    maxSlides: 3,
    moveSlides: 3,
    slideMargin: 20,
    controls: true
  });

$('.slider-why-taxi').bxSliderNormal({
    slideWidth: 314,
    minSlides: 1,
    maxSlides: 3,
    moveSlides: 1,
    slideMargin: 20
  });

  $('.slider-how-install').bxSliderNormal({
    slideWidth: 1000,
    minSlides: 1,
    maxSlides: 2,
    moveSlides: 2,
    controls: true,
    pager: false,
    infiniteLoop: false,
  	hideControlOnEnd: true
  });
  
  $('.slider-how-howto').bxSliderNormal({
    slideWidth: 1000,
    minSlides: 1,
    maxSlides: 1,
    moveSlides: 1,
    slideMargin: 10,
    //controls: true,
    pager: false,
    infiniteLoop: false,
    hideControlOnEnd: true
  });

});

</script>
<script type="text/javascript" src="js/function.js"></script>
</html>