	
	<div class="garageadmin-container garageadmin-forgotpassword">
		<div class="garageadmin-header">
			<img src="/img/home_logo.png">
		</div>
		<div class="garageadmin-wrapper">
			<h1>ลืมรหัสผ่าน</h1>
			<p>ระบบจะส่งรหัสผ่านไปยังอีเมลที่ระบุด้านล่าง</p>
			<input type="text" name="username" placeholder="กรอกอีเมล">
			<div class="garageadmin-errormessage">
				อีเมลไม่ถูกต้อง
			</div>
			<input type="submit" class="garageadmin-btn-primary" value="ส่งรหัสให้ฉัน">
		</div>
		
	</div>