<div class="intial-app-loading">
	<div class="wrapper">
		<img src="/assets/img/taxiadmin-logo@2x.png"/>
		<div style="color: #E53935" class="loader la-square-jelly-box la-2x">
			<div></div>
			<div></div>
		</div>
		<p class="text">กำลังเตรียมข้อมูล...</p>
	</div>
</div>