<div id="chat-board">
	<div class="chat_box_wrapper">

		<div class="chat_control">
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#"><a class="navbar-brand" href="#"><i class="fa fa-comments-o"></i> กระดานสนทนา</a></a>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav navbar-right">
							<li><a href="#" data-toggle="tooltip" data-placement="top" onclick="Chat.popOut();"><i class="fa fa-clone"></i></a></li>
						</ul>
					</div><!-- /.navbar-collapse -->
				</div><!-- /.container-fluid -->
			</nav>
		</div>

		<div class="chat_box touchscroll chat_box_colors_a" id="chat">
			<div class="chat_message_wrapper">
				<div class="chat_user_avatar">
					<img class="img-circle" src="assets/img/callcenter-profile-sample-face.jpg" alt="">
				</div>
				<ul class="chat_message">
					<li>
						<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, eum? </p>
					</li>
					<li>
						<p> Lorem ipsum dolor sit amet.<span class="chat_message_time">13:38</span> </p>
					</li>
				</ul>
			</div>
			<div class="chat_message_wrapper chat_message_right">
				<div class="chat_user_avatar">
					<img class="img-circle" src="assets/img/callcenter-profile-sample-face.jpg" alt="">
				</div>
				<ul class="chat_message">
					<li>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem delectus distinctio dolor earum est hic id impedit ipsum minima mollitia natus nulla perspiciatis quae quasi, quis recusandae, saepe, sunt totam.
							<span class="chat_message_time">13:34</span>
						</p>
					</li>
				</ul>
			</div>
			<div class="chat_message_wrapper">
				<div class="chat_user_avatar">
					<img class="img-circle" src="assets/img/callcenter-profile-sample-face.jpg" alt="">
				</div>
				<ul class="chat_message">
					<li>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque ea mollitia pariatur porro quae sed sequi sint tenetur ut veritatis.
							<span class="chat_message_time">23 Jun 1:10am</span>
						</p>
					</li>
				</ul>
			</div>
			<div class="chat_message_wrapper chat_message_right">
				<div class="chat_user_avatar">
					<img class="img-circle" src="assets/img/callcenter-profile-sample-face.jpg" alt="">
				</div>
				<ul class="chat_message">
					<li>
						<p> Lorem ipsum dolor sit amet, consectetur. </p>
					</li>
					<li>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							<span class="chat_message_time">Friday 13:34</span>
						</p>
					</li>
				</ul>
			</div>
			<div class="chat_message_wrapper">
				<div class="chat_user_avatar">
					<img class="img-circle" src="assets/img/callcenter-profile-sample-face.jpg" alt="">
				</div>
				<ul class="chat_message">
					<li>
						<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, eum? </p>
					</li>
					<li>
						<p> Lorem ipsum dolor sit amet.<span class="chat_message_time">13:38</span> </p>
					</li>
				</ul>
			</div>
			<div class="chat_message_wrapper chat_message_right">
				<div class="chat_user_avatar">
					<img class="img-circle" src="assets/img/callcenter-profile-sample-face.jpg" alt="">
				</div>
				<ul class="chat_message">
					<li>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem delectus distinctio dolor earum est hic id impedit ipsum minima mollitia natus nulla perspiciatis quae quasi, quis recusandae, saepe, sunt totam.
							<span class="chat_message_time">13:34</span>
						</p>
					</li>
				</ul>
			</div>
			<div class="chat_message_wrapper">
				<div class="chat_user_avatar">
					<img class="img-circle" src="assets/img/callcenter-profile-sample-face.jpg" alt="">
				</div>
				<ul class="chat_message">
					<li>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque ea mollitia pariatur porro quae sed sequi sint tenetur ut veritatis.
							<span class="chat_message_time">23 Jun 1:10am</span>
						</p>
					</li>
				</ul>
			</div>
			<div class="chat_message_wrapper chat_message_right">
				<div class="chat_user_avatar">
					<img class="img-circle" src="assets/img/callcenter-profile-sample-face.jpg" alt="">
				</div>
				<ul class="chat_message">
					<li>
						<p> Lorem ipsum dolor sit amet, consectetur. </p>
					</li>
					<li>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							<span class="chat_message_time">Friday 13:34</span>
						</p>
					</li>
				</ul>
			</div>
		</div>

		<div class="chat_submit_box" id="chat_submit_box">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="พิมพ์ข้อความ...">
				<span class="input-group-btn">
					<button class="btn btn-default" type="button"><i class="fa fa-paper-plane-o"></i></button>
				</span>
			</div>
		</div>

	</div>
</div>