<ul id="queueAdvanceTab" class="nav nav-tabs" role="tablist">
	<li role="presentation" class="active">
		<a href="#table-queue-tab" aria-controls="table-queue-tab" role="tab" data-toggle="tab">
			<h5 class="title">คิวงาน<span class="indicator green"></span>
			</h5>
		</a>
	</li>
	<li role="presentation">
		<a href="#table-advance-tab" aria-controls="table-advance-tab" role="tab" data-toggle="tab">
			<h5 class="title">งานจองล่วงหน้า</h5>
		</a>
	</li>
</ul>

<div id="queueAdvanceTabContent" class="tab-content">
</div>