<div class="tab-bottom" style="display:none">
	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active">
			<a href="#table-queue-tab" aria-controls="table-queue-tab" role="tab" data-toggle="tab">
				<i class="material-icons">add_to_queue</i>
				<span class="title">Queues</span>
				<span class="indicator green"></span>
			</a>
		</li>
		<li role="presentation">
			<a href="#table-advance-tab" aria-controls="table-advance-tab" role="tab" data-toggle="tab">
				<i class="material-icons">queue_play_next</i>
				<span class="title">Advance</span>
			</a>
		</li>
		<li role="presentation">
			<a href="#table-pending-tab" aria-controls="table-pending-tab" role="tab" data-toggle="tab">
				<i class="material-icons">watch_later</i>
				<span class="title">Pending</span>
				<span class="indicator red"></span>
			</a>
		</li>
		<li role="presentation">
			<a href="#table-assigned-tab" aria-controls="table-assigned-tab" role="tab" data-toggle="tab">
				<i class="material-icons">check_circle</i>
				<span class="title">Assigned</span>
			</a>
		</li>
	</ul>
</div>