<div class="pending table-data">
  <div class="table-control header">
    <div class="pull-right">
      <input type="search" class="form-control input-sm" placeholder="ค้นหาคิวงาน" id="searchPendingTaskInput" />
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="table-wrap">
    <table id="pendingTaskTable" class="table display dataTable table-striped table-inline-editable" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>#</th>
          <th></th>
          <th>เวลา</th>
          <th>ทะเบียน</th>
          <th>จุดรับ</th>
          <th>จุดส่ง</th>
          <th>เบอร์โทร</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>