<div class="report-driver table-data">
  <div class="table-control header">
    <div class="pull-left">
      <div class="form-group">
        <div id="report-date-filter" class='input-group date'>
          <input type="text" class="form-control" />
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>
    </div>
    <div class="pull-right">
      <input type="search" class="form-control input-sm" placeholder="ค้นหาแท็กซี่" id="searchReportDriverInput" />
    </div>
    <div class="clearfix"></div>
  </div>
  <table id="taxiReportTable" class="display dataTable" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>#</th>
        <th>ชื่อ/สกุล</th>
        <th>ทะเบียน</th>
        <th>สีตัวถัง</th>
        <th>เบอร์โทรศัพท์</th>
        <th>รับ(จำนวนครั้ง)</th>
        <th>มูลค่า</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</div>