<div class="taxi-broken-list hide">
	<div class="taxi-broken">

		<div class="img-wrap">
			<img src="/image/driver/566661bb34001fbd07987321_imgface.png" />
		</div>
		<div class="detail-wrap">
			<div class="row">
				<div class="col-md-12 col-lg-12">
					<p class="text">พี่โด่ง</p>
				</div>
				<div class="col-md-6 col-lg-6">
					<p class="caption">ทะเบียน</p>
					<p class="text">5กย 5443</p>
				</div>
				<div class="col-md-6 col-lg-6">
					<p class="caption">เบอร์ติดต่อ</p>
					<p class="text">0826579970</p>
				</div>
				<div class="col-md-12 col-lg-12">
					<p class="caption">รายละเอียด</p>
					<p class="text">ยางหลังแตก ไม่มียางอะไหล่</p>
				</div>
			</div>
		</div>

	</div>
</div>