// https://color.adobe.com/Gettysburg-color-theme-209416

$primary-color: #962D3E;
$secondary-color: #225378;
$third-color: #343642;
$fourth-color: #26282F;
$fifth-color: #1A4261;

$base_white: #FFF;
$base_black: #262626;