
<meta content="charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<title>Taxi-Beam: Passengers</title>

<style>
	html, body {
		margin: 0;
		padding: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
	}
	.no-js #loader { display: none;  }
	.js #loader { display: block; position: absolute; left: 100px; top: 0; }
	.se-pre-con {
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 9999;
		background: #111;
	}

	.se-pre-click{
		position: fixed;
		left: 0px;
		top: 0px;
		width: 100%;
		height: 100%;
		z-index: 9999;
		background: url(../assets/img/loadingwaiting.gif) center no-repeat rgba(255,255,255,0.6);
		background-size: 300px;
	}
</style>

<link rel="stylesheet" href="/assets/libs/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/assets/css/font.css">
<link rel="stylesheet" href="/assets/libs/jquery-ui/themes/smoothness/jquery-ui.min.css">		
<link rel="stylesheet" href="/app/passenger/fonts/iconmoon/style.css">	
<link rel="stylesheet" href="/assets/plugins/splash-mobi/splash-mobi.css">		
<link rel="stylesheet" href="/app/passenger/app.css">